@page "/"

<h1>Registro de Ordenes</h1>

<h2>Bienvenido</h2>

<a href="https://www.youtube.com/watch?v=2atQnvunGCo/">Habra en otra pestaña este link para que escuche este video mientras trabaja con esta pagina para que se relaje</a>
